<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/login']" class="navbar-brand">{{'brand' | translate}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right" *ngIf='(_employeeService.getCurrentEmployee().id >= 0)'>
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button">{{_employeeService.getCurrentEmployee().firstName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu"> 
                        <li><a (click)="logout()">{{'log_out'|translate}}</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    
</nav>