<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/login']" class="navbar-brand">{{'brand' | translate}}</a>
        </div>
        <div *ngIf='(_employeeService.getCurrentEmployee().id >= 0)'>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a style="cursor: pointer" 
                        routerLinkActive='active'
                        routerLink="/employees">{{'employees'|translate}}</a></li>
                    <li><a style="cursor: pointer" 
                        routerLinkActive='active'
                        routerLink="/departments">{{'departments'|translate}}</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                            <li><a style="cursor: pointer" 
                                routerLinkActive='active'
                                routerLink="/profile">{{'profile'|translate}}</a></li>
                    </ul>
                    <li class="dropdown" appDropdown>
                        <a class="dropdown-toggle" role="button">{{_employeeService.getCurrentEmployee().firstName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu"> 
                            <li><a (click)="logout()">{{'log_out'|translate}}</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>       
    </div>
    
</nav>