<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      {{'warning'|translate}}
    </div>
    <div class="modal-body">
        <p class="text-danger"> {{message}} </p>
        <br>
        <button class="btn btn-danger"  (click)="confirm()">{{'confirm'|translate}}</button> 
        <button class="btn btn-success" (click)="hide()">{{'ignore'|translate}}</button>
    </div>
  </div>
</div>
</div>  