<div class="row">
    <div class="col-2">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">{{'name'|translate}}</th>
                    <td>{{currentDepartment.name}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'manager_name'|translate}}</th>
                    <td>{{manager.firstName}}{{' '}}{{manager.lastName}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <ul class="list-group">
                    <li class="list-group-item"
                        style="cursor:pointer"
                        *ngFor='let employee of currentDepartmentEmployees; let i = index;'  (click)="selectCurrentDepartmentEmployee(i)">
                        {{employee.firstName}}
                    </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <button [disabled]="anotherDepartmentEmployeeSelected!=-1?false:true" 
                        class="btn btn-success" (click)="toCurrentDepartment()">&larr;</button>
                    <button [disabled]="currentDepartmentEmployeeSelected!=-1&&anotherDepartment!=-1?false:true" 
                        class="btn btn-success" (click)="toAnotherDepartment()">&rarr;</button>
                </div>
                <div class="col-xs-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group" appDropdown>
                            <button 
                                type="button" 
                                class="btn btn-primary dropdown-toggle">
                                {{anotherDepartmentName}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let d of departments; let i = index;" >
                                <a *ngIf="d.id != currentDepartment.id" (click) ="chooseDepartment(i)">{{d.name}}</a>
                                </li>
                            </ul>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-3">
                            <ul class="list-group">
                            <li class="list-group-item"
                                *ngFor='let employee of anotherDepartmentEmployees; let i = index;' 
                                style="cursor: pointer"
                                (click)="selectAnotherDepartmentEmployee(i)">
                                {{employee.firstName}}
                            </li>
                            </ul>
                            <div class="clearfix">
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>