<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      {{'warning'|translate}}
    </div>
    <div class="modal-body">
        <p class="text-danger"> {{'are_you_sur_you_want_to_delete_them'|translate}} </p>
        <br>
        <button class="btn btn-danger"  (click)="deleteFromDepartment()">{{'delete_from_department'|translate}}</button> 
        <button class="btn btn-danger" (click)="deleteForever()"
          *ngIf="_employeeService.getCurrentEmployee().roleId == 2">{{'delete_for_ever'|translate}}</button>
        <button class="btn btn-success" (click)="hide()">{{'ignore'|translate}}</button>
    </div>
  </div>
</div>
</div>  