
<div class="row">
  <div class="col-md-4">
    <ul class="nav nav-tabs">
      <li role="presentation"
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="profile">{{'profile'|translate}}</a>
      </li>
      <li role="presentation" 
          routerLinkActive='active'>
          <a routerLink="employees">{{'employees' | translate}}</a>
      </li>
      <li role="presentation" 
          routerLinkActive='active'>
          <a routerLink="departments">{{'departments' | translate}}</a>
      </li>
    </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>