<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      {{'create_new_employee'|translate}}
    </div>
    <div class="modal-body">
        <form accept-charset="UTF-8" role="form" (submit)="createNewEmployee()">
            <div class="form-group">
              <input class="form-control" name="firstName" 
                placeholder="{{'first_name'|translate}}" type="text" 
                [(ngModel)]='firstName'
                [style.borderColor]="errorsContain('firstName')?'red':'#E2E2E2'">
              <br>
              <input class="form-control" name="lastName" 
                placeholder="{{'last_name'|translate}}" type="text" 
                [(ngModel)]='lastName'
                [style.borderColor]="errorsContain('lastName')?'red':'#E2E2E2'">
              <br>
              <input class="form-control" name="email" 
                        placeholder="{{'email'|translate}}" type="email" 
                        [(ngModel)]='email'
                        [style.borderColor]="errorsContain('email')?'red':'#E2E2E2'">
              <br>
              <input class="form-control" name="password" 
                        placeholder="{{'password'|translate}}" type="password" 
                        [(ngModel)]='password'
                        [style.borderColor]="errorsContain('password')?'red':'#E2E2E2'">
              <br>
              <input class="form-control" name="mobileNumber" 
                        placeholder="{{'mobile_number'|translate}}" type="number" 
                        [(ngModel)]='mobileNumber'
                        [style.borderColor]="errorsContain('mobileNumber')?'red':'#E2E2E2'">
              <br>
              <div style="cursor:pointer" class="dropdown department" appDropdown>             
                {{role}} <span class="caret"></span>
                <a class="dropdown-toggle" role="button"></a>
                <ul class="dropdown-menu">  
                  <li style="cursor:pointer" (click)="selectRole('Employee')">Employee</li>
                  <li style="cursor:pointer" (click)="selectRole('Manager')">Manager</li>
                  <li style="cursor:pointer" (click)="selectRole('Administrator')">Administrator</li>
                </ul>
              </div>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{'submit'|translate}}">         
          </form>
          <button class="btn btn-primary" 
                  style="margin-top: 3px"
                  (click)="hide(); addEmployee.show(department, parent)">{{'add_existing_employee'|translate}}</button>
    </div>
  </div>
</div>
</div>  

<app-new-employee #addEmployee></app-new-employee>