<div class="row">
  <div class="col">
      <form class="navbar-form" role="search" (submit)='searchByFirstName(searchFirstName)' #search>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'search_by_firstname'|translate}}" name="srch-term" id="srch-term" #searchFirstName>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
      </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{'delete'|translate}}</th>
          <th>{{'first_name'|translate}}</th>
          <th>{{'last_name'|translate}}</th>
          <th>{{'email'|translate}}</th>
          <th>{{'department'|translate}}</th>
        </tr>
      </thead>
      <tbody *ngFor='let employee of employees; let i = index;'
          style="cursor:pointer" (click)='showEmployee(i)'> 
        <td  *ngIf='filtered[i]'><input type="checkbox" (click)='toggleDelete(i)'></td>
        <td  *ngIf='filtered[i]'>{{employee.firstName}}</td>
        <td  *ngIf='filtered[i]'>{{employee.lastName}}</td>
        <td  *ngIf='filtered[i]'>{{employee.email}}</td>
        <td  *ngIf='employeesDepartments[i] && filtered[i]'>{{employeesDepartments[i].name}}</td>
      </tbody>
    </table>

    <button class="btn btn-danger" (click)='deleteEmployees()'>
        {{'delete'|translate}}
    </button>
    
  </div>
</div>

<div class="div">
  <div class="col">
      <app-employee [employee]="selectedEmployee"></app-employee>
  </div>
</div>


