
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="panel-heading">
      <h3 class="panel-title">{{'add_employee'|translate}}</h3>
    </div>
    <div class="panel-body">
      <form accept-charset="UTF-8" role="form" (submit)="createNewEmployee()">
        
        <div class="form-group">
          <input class="form-control" name="email" 
                    placeholder="{{'email'|translate}}" type="email" 
                    [(ngModel)]='email'
                    [style.borderColor]="errorsContain('email')?'red':'#E2E2E2'">
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{'add_employee'|translate}}">         
      </form>
    </div>
  </div>
</div>
</div>  